<div class="w-full h-screen flex items-center justify-center">
  <iframe id="iframe-content" src="/src/pages/posts/Report.htm" class="w-full h-full border-none"></iframe>

  <div id="error-message" class="text-center" style="display: none;">
   <a
	rel="noopener nofollow"
	href="/bots"
	class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-violet-800 dark:from-pink-300 dark:to-violet-700 no-underline"
	>No bot is loaded, if the bot is loaded wait a few seconds and reload the page.</a>
    <a
					rel="noopener nofollow"
					href="/bots" class="mt-10 text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-violet-800 dark:from-pink-300 dark:to-violet-700 no-underline">Please go to the bot screen to upload a bot.</a>
    <!-- Aquí podrías añadir un enlace o un botón para dirigir a la pantalla de subida de bot -->
  </div>
</div>
