<div class="w-full h-screen flex items-center justify-center">
 
  
  <div id="error-message" class="text-center hidden">
   <a
	rel="noopener nofollow"
	href="/bots"
	class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-violet-800 dark:from-pink-300 dark:to-violet-700 no-underline"
	>No bot is loaded, if the bot is loaded wait a few seconds and reload the page.<br>
    Please go to the bot screen to upload a bot.</a>
  </div>
   <iframe id="iframe-content" src="/src/pages/posts/Report.htm" class="w-full h-full border-none"></iframe>

</div>

<script>
    const iframe = document.getElementById('iframe-content');

    // Verificar si el archivo en la ruta del iframe existe
    fetch(iframe.src)
      .then(response => {
        if (!response.ok) {
          iframe.style.display = 'none';
          document.getElementById('error-message').classList.remove('hidden');
        }
      })
      .catch(error => {
        console.error('Error al verificar la existencia del archivo:', error);
      });
  </script>