---
import { loadEnv } from 'vite';
import IndicatorInputRSI from '../components/IndicatorInputRSI.astro';
import IndicatorInputMACD from '../components/IndicatorInputMACD.astro';
import IndicatorInputEMA from '../components/IndicatorInputEMA.astro';
import IndicatorInputSMA from '../components/IndicatorInputSMA.astro';
var dropdownHover = "Select currency pair";
const API_key = loadEnv("", process.cwd(), '');
const response = await fetch(`https://api.polygon.io/v3/reference/tickers?cursor=YWN0aXZlPXRydWUmYXA9QyUzQVNFS1pBUiU3QzMzMTc2YTg2ZjlhZGY2YThhMjE1MWY2M2Y5MjJkMjBkZTU0YzMwYTVjN2RhMGM5ZjgxYWJiNjQ3ZmU5ZWU3M2UmYXM9JmRhdGU9MjAyNC0wNS0wNyZsaW1pdD0xMDAwJm1hcmtldD1meCZvcmRlcj1hc2Mmc29ydD10aWNrZXI&apikey=${API_key.PUBLIC_API_KEY_Polygon}`);
var currencyPairs = await response.json();
currencyPairs = currencyPairs.results;
---

<div class="px-4 pt-6 items-center justify-between mb-4">
        <h1 class="flex justify-center text-4xl text-gray-900 dark:text-gray-100 font-bold mb-8">Add new bot</h1>
            <div class="flex flex-col items-center justify-center mb-7">
                <h2 class="text-2xl font-bold pb-2 text-gray-900 dark:text-gray-100 ">Currency pair</h2>
                <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">{dropdownHover} <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                
                <div id="dropdownHover" class="z-10 hidden bg-white divide-y scrollbar-thin divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 max-h-80 overflow-y-auto">
                    <input type="text" id="searchInput" class="block w-full px-4 py-2 border-b border-gray-200 focus:outline-none focus:border-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:focus:border-blue-400" placeholder="Search..." />
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
                        {
                            currencyPairs.map((item: any) => {
                                return (
                                    <li>
                                        <p class="flex justify-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{item.ticker.replace('C:', '')}</p>
                                    </li>
                                )
                                
                            })
                        }
                    </ul>
                </div>
            </div>
        <div class="flex flex-row justify-center gap-x-10 mb-7">
            <div>
                <h2 class="text-l mb-2 font-bold text-gray-900 dark:text-gray-100">Size of the time window</h2>
                
                <button id="dropdownButton" data-dropdown-toggle="dropdownTimeWindow" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 items" type="button">Time window <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
                </button>

                <div id="dropdownTimeWindow" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                      <li>
                        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">second</a>
                      </li>
                      <li>
                        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">minute</a>
                      </li>
                      <li>
                        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">hour</a>
                      </li>
                      <li>
                        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">day</a>
                      </li>
                      <li>
                        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">week</a>
                      </li>
                      <li>
                        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">month</a>
                      </li>
                      <li>
                        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">quarter</a>
                      </li>
                      <li>
                        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">year</a>
                      </li>
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="text-l mb-2 font-bold text-gray-900 dark:text-gray-100">Size of timespan multiplier</h2>
                <input type="number" id="number-input" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="90210" required />
            </div>
            <div>
                <h2 class="text-l mb-2 font-bold text-gray-900 dark:text-gray-100">Start of the aggregate time window</h2>
                
                <div class="relative max-w-sm">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                  </div>
                  <input datepicker type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select from date">
                </div>
            </div>
            <div>
                <h2 class="text-l mb-2 font-bold text-gray-900 dark:text-gray-100">End of the aggregate time window</h2>
                <div class="relative max-w-sm">
  <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
    </svg>
  </div>
  <input datepicker type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select to date">
</div>
            </div>
            <div>
                <h2 class="text-l mb-2 font-bold text-gray-900 dark:text-gray-100">Results are adjusted for splits</h2>
<div class="flex items-center mb-4">
    <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default checkbox</label>
</div>
            </div>            
        </div>
        <div>
            <h2 class="justify-center mb-4 flex text-xl font-bold text-gray-900 dark:text-gray-100">Indicators</h2>
            <div class="flex flex-row justify-center gap-x-10 mb-5">
                    <IndicatorInputSMA id="sma" label="Simple Moving Average (SMA)" />
                    <IndicatorInputEMA id="ema" label="Exponential Moving Average (EMA)" />
                    <IndicatorInputMACD id="macd" label="Moving Average Convergence/Divergence (MACD)" />
                    <IndicatorInputRSI id="rsi" label="Relative Strength Index (RSI)" />
            </div>
        </div>
        <div data-style="clean" class="flex flex-col mb-3 items-center">
            <h1 class="text-2xl font-bold text-gray-900 dark:text-gray-100 mb-5">Upload your bot</h1>
            <div data-element="fields" data-stacked="false" class="flex items-center w-full max-w-lg mb-3 seva-fields formkit-fields selection">
                <div class="relative w-full mr-3 formkit-field">
                    <label for="member_bot" class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Upload your bot</label>
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                        <svg
		    				fill="currentColor"
		    				class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
		    				viewBox="0 0 90 90"
		    				xmlns="http://www.w3.org/2000/svg"
		    				aria-hidden="true"
		    			>
		    				<path 
		    				d="M20,60 C20,51.7157288 26.7081139,45 35.0050808,45 L64.9949192,45 C73.2819965,45 80,51.7139073 80,60 C80,68.2842712 73.2918861,75 64.9949192,75 L35.0050808,75 C26.7180035,75 20,68.2860927 20,60 Z M35,66 C31.6862915,66 29,63.3137085 29,60 C29,56.6862915 31.6862915,54 35,54 C38.3137085,54 41,56.6862915 41,60 C41,63.3137085 38.3137085,66 35,66 Z M65,66 C61.6862915,66 59,63.3137085 59,60 C59,56.6862915 61.6862915,54 65,54 C68.3137085,54 71,56.6862915 71,60 C71,63.3137085 68.3137085,66 65,66 Z"
		    				></path>
		    				<path 
		    				d="M65,62 L65,62 C66.1045695,62 67,61.1045695 67,60 C67,58.8954305 66.1045695,58 65,58 C63.8954305,58 63,58.8954305 63,60 C63,61.1045695 63.8954305,62 65,62 L65,62 Z"
		    				></path>
		    				<path 
		    				d="M35,62 L35,62 C36.1045695,62 37,61.1045695 37,60 C37,58.8954305 36.1045695,58 35,58 C33.8954305,58 33,58.8954305 33,60 C33,61.1045695 33.8954305,62 35,62 L35,62 Z"
		    				></path>
		    				<path 
		    				d="M50,20 C71.4336483,20 81.3822646,28.613774 86.0000023,36.6100918 L86,11.9417476 L86,10 L90,10 L90,11.9417476 L90,58.0582524 L90,59.0291262 L90,70 C90,70 90,90 50,90 C10,90 10,70 10,70 L10,59.0291262 L10,58.0582524 L10,11.9417476 L10,10 L14,10 L14,11.9417476 L14,36.6100878 C18.6177354,28.613774 28.5663517,20 50,20 Z M14,50 L14,70 C14,69.9724452 14.0069729,70.0770394 14.037923,70.2936896 C14.1025381,70.7459952 14.2244193,71.2741473 14.4197332,71.8600889 C15.0099728,73.6308077 16.093439,75.4365847 17.8284271,77.1715729 C23.24535,82.5884957 33.4798628,86 50,86 C66.5201372,86 76.75465,82.5884957 82.1715729,77.1715729 C83.906561,75.4365847 84.9900272,73.6308077 85.5802668,71.8600889 C85.7755807,71.2741473 85.8974619,70.7459952 85.962077,70.2936896 C85.9930271,70.0770394 86,69.9724452 86,70 L86,50 C86,49.8884469 85.9860708,49.5750394 85.9398931,49.0901739 C85.8573922,48.2239138 85.706612,47.2438431 85.4702518,46.1802218 C84.7903506,43.1206666 83.5663124,40.0605712 81.6717988,37.2188008 C76.1879285,28.9929953 66.2019379,24 50,24 C33.7980621,24 23.8120715,28.9929953 18.3282012,37.2188008 C16.4336876,40.0605712 15.2096494,43.1206666 14.5297482,46.1802218 C14.293388,47.2438431 14.1426078,48.2239138 14.0601069,49.0901739 C14.0161083,49.5521587 14,50 14,50 Z M14,10 C14,8.8954305 13.1045695,8 12,8 C10.8954305,8 10,8.8954305 10,10 L14,10 Z M90,10 C90,8.8954305 89.1045695,8 88,8 C86.8954305,8 86,8.8954305 86,10 L90,10 Z"
		    				></path>
		    			</svg>
                    </div>
                    <input id="member_bot" class="formkit-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-16 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="bot" aria-label="Enter your bot" placeholder="Enter your bot" type="file">
                </div>
                <button id="sendButton" data-element="send" class="formkit-send min-w-max">
                    <span class="px-5 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Send bot</span>
                </button>
            </div>
        </div>
</div>

<script>
const searchInput = document.getElementById('searchInput');
const listItems = document.querySelectorAll('#dropdownHover ul li');
const sendButton = document.getElementById('sendButton');

const listTimeWindow = document.querySelectorAll('#dropdownTimeWindow ul li');
const dropdownButtonTimeWindow = document.getElementById('dropdownButton');

listTimeWindow.forEach(function(item) {
    item.addEventListener('click', function(event) {
        const text = (event.target as HTMLElement)?.textContent || '';
        
        if (dropdownButtonTimeWindow) {
            dropdownButtonTimeWindow.textContent = text;
        }
    });
});

const button = document.getElementById('dropdownHoverButton');
listItems.forEach(function(item) {
    item.addEventListener('click', function(event) {
        const text = (event.target as HTMLElement)?.textContent || '';
        
        if (button) {
            button.textContent = text;
        }
    });
});

if (searchInput) {
    searchInput.addEventListener('input', function(event) {
        const searchText = (event.target as HTMLInputElement)?.value?.toLowerCase() || '';
        listItems.forEach(function(item) {
            const text = item.textContent?.toLowerCase() || '';
            const itemElement = item as HTMLElement;
            if (text.includes(searchText)) {
                itemElement.style.display = 'block';
            } else {
                itemElement.style.display = 'none';
            }
        });
    });
}

sendButton?.addEventListener('click', function() {
    alert('Bot sent');
});
</script>