---
import StockEarnings from '../assets/stock-earnings.svg?raw';

---

<div
	class="bg-gradient-to-r from-slate-100 to-slate-200 dark:from-slate-900 dark:to-slate-800 text-slate-800 dark:text-slate-100 mb-20 p-4 lg:p-16 shadow-xl shadow-slate-200 dark:shadow-slate-900"
>
	<header
		class="p-8 flex justify-center items-center flex-wrap flex-col w-full mt-16"
	>
		<div class="flex justify-center w-full">
			<div
				set:html={StockEarnings}
				class="svg-inline w-16 h-16 text-violet-700 dark:text-violet-100"
			/>
		</div>

		<div class="format dark:format-invert lg:format-lg mt-32">
			<p class="text-4xl lg:text-8xl dark:text-slate-200 text-slate-600 leading-tight">
    Hello <span class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-violet-800 dark:from-pink-300 dark:to-violet-700">Trader</span>…
    <br />meet <span class="font-bold text-blue-600 dark:text-blue-500">TradeMate Tester</span>!
</p>

		</div>
	</header>

	<section class="flex justify-center w-full pb-24">
		<div class="w-full format dark:format-invert">
		</div>
	</section>

	
</div>

<style>
	/* Override in Markdown H1 title */
	.readme :global(h1:nth-of-type(2)) {
		display: none;
	}

	.svg-inline :global(svg) {
		height: 100%;
		width: 100%;
	}
</style>
