<div data-style="clean" class="flex flex-col mb-3 items-center">
                <h1 class="text-2xl font-bold text-gray-900 dark:text-gray-100 mb-5">Upload your bot</h1>
                <div data-element="fields" data-stacked="false" class="flex items-center w-full max-w-lg mb-3 seva-fields formkit-fields selection">
                    <div class="relative w-full mr-3 formkit-field">
                        <label for="member_bot" class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Upload your bot</label>
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                            <svg
                                fill="currentColor"
                                class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
                                viewBox="0 0 90 90"
                                xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true"
                            >
                                <path 
                                d="M20,60 C20,51.7157288 26.7081139,45 35.0050808,45 L64.9949192,45 C73.2819965,45 80,51.7139073 80,60 C80,68.2842712 73.2918861,75 64.9949192,75 L35.0050808,75 C26.7180035,75 20,68.2860927 20,60 Z M35,66 C31.6862915,66 29,63.3137085 29,60 C29,56.6862915 31.6862915,54 35,54 C38.3137085,54 41,56.6862915 41,60 C41,63.3137085 38.3137085,66 35,66 Z M65,66 C61.6862915,66 59,63.3137085 59,60 C59,56.6862915 61.6862915,54 65,54 C68.3137085,54 71,56.6862915 71,60 C71,63.3137085 68.3137085,66 65,66 Z"
                                ></path>
                                <path 
                                d="M65,62 L65,62 C66.1045695,62 67,61.1045695 67,60 C67,58.8954305 66.1045695,58 65,58 C63.8954305,58 63,58.8954305 63,60 C63,61.1045695 63.8954305,62 65,62 L65,62 Z"
                                ></path>
                                <path 
                                d="M35,62 L35,62 C36.1045695,62 37,61.1045695 37,60 C37,58.8954305 36.1045695,58 35,58 C33.8954305,58 33,58.8954305 33,60 C33,61.1045695 33.8954305,62 35,62 L35,62 Z"
                                ></path>
                                <path 
                                d="M50,20 C71.4336483,20 81.3822646,28.613774 86.0000023,36.6100918 L86,11.9417476 L86,10 L90,10 L90,11.9417476 L90,58.0582524 L90,59.0291262 L90,70 C90,70 90,90 50,90 C10,90 10,70 10,70 L10,59.0291262 L10,58.0582524 L10,11.9417476 L10,10 L14,10 L14,11.9417476 L14,36.6100878 C18.6177354,28.613774 28.5663517,20 50,20 Z M14,50 L14,70 C14,69.9724452 14.0069729,70.0770394 14.037923,70.2936896 C14.1025381,70.7459952 14.2244193,71.2741473 14.4197332,71.8600889 C15.0099728,73.6308077 16.093439,75.4365847 17.8284271,77.1715729 C23.24535,82.5884957 33.4798628,86 50,86 C66.5201372,86 76.75465,82.5884957 82.1715729,77.1715729 C83.906561,75.4365847 84.9900272,73.6308077 85.5802668,71.8600889 C85.7755807,71.2741473 85.8974619,70.7459952 85.962077,70.2936896 C85.9930271,70.0770394 86,69.9724452 86,70 L86,50 C86,49.8884469 85.9860708,49.5750394 85.9398931,49.0901739 C85.8573922,48.2239138 85.706612,47.2438431 85.4702518,46.1802218 C84.7903506,43.1206666 83.5663124,40.0605712 81.6717988,37.2188008 C76.1879285,28.9929953 66.2019379,24 50,24 C33.7980621,24 23.8120715,28.9929953 18.3282012,37.2188008 C16.4336876,40.0605712 15.2096494,43.1206666 14.5297482,46.1802218 C14.293388,47.2438431 14.1426078,48.2239138 14.0601069,49.0901739 C14.0161083,49.5521587 14,50 14,50 Z M14,10 C14,8.8954305 13.1045695,8 12,8 C10.8954305,8 10,8.8954305 10,10 L14,10 Z M90,10 C90,8.8954305 89.1045695,8 88,8 C86.8954305,8 86,8.8954305 86,10 L90,10 Z"
                                ></path>
                            </svg>
                        </div>
                        <input id="fileOfBot" class="formkit-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-16 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="bot" aria-label="Enter your bot" placeholder="Enter your bot" type="file" multiple>
                    </div>
                    <button id="sendButton" data-element="send" class="formkit-send min-w-max">
                        <span class="px-5 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Send bot</span>
                    </button>
                </div>
            </div>